body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #003366;
}

p {
  color: #666666;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
